<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="~/img/vangogh.jpg" class="img-fluid">
                        <span class="tag2 hot">
                            SPECIAL
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">

                            <a href="#">

                                Product Code/Name here

                            </a>

                            <a href="#">

                                <span>Product Category</span>

                            </a>

                        </h5>

                        <p class="price-container">

                            <span>$199</span>

                        </p>

                        <span class="tag1"></span>

                    </div>

                    <div class="description">

                        <p>A Short product description here </p>

                    </div>

                    <div class="product-info smart-form">

                        <div class="row">

                            <div class="col-md-12">

                                <a href="#" class="btn btn-danger">Add to cart</a>

                                <button class="btn btn-success">Buy</button>

                            </div>

                            <div class="col-md-12">

                                <div class="rating">
                                    Rating:

                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>

                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>

                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>

                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>

                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <!-- end product -->

    </div>
    <div class="col-xs-12 col-md-6">
        <div id="myForm">
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname">
            </form>
        </div>
        <div>
            <div id="loginToggle">LOGIN</div>
            <form class="popup-form">
                <div>
                    <label>Username</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div>
                    <input type="checkbox" value="Remember Me" />
                </div>
                <div>
                    <button type="submit">LOG IN</button>
                </div>
            </form>
        </div>
    </div>
</div>